
        body {
            margin: 0;
            font-family: Sans-Serif, Arial;
            background-color: #ebebeb;
        }
footer{
    padding-left:1em;
}
        .titre{
          display:flex;
          background-color:#E2A9F3;
        }
        .titre img{ ;
            flex:1;
        }
        .titre h1{
            flex: 1 0 50%;
            color: #8b107a;
            font-size: 400%;
            margin: 0;
            padding: 0.5em;
            text-align: center;
            font-family: Arial;
        }
        .note{
          font-size: 200%;
          text-align: center;
          padding-bottom: 0.5em;
        }
        header {
          background-color: #E2A9F3;
            position: sticky;
            top: 0;
            box-shadow: 0px 2px 2px #000000;
            z-index: 1;
        }
        h5{
          font-size: 110%;
          font-weight: normal;
        }
        ol {
            padding: 0;
            display:flex;
            flex-wrap:wrap;
            list-style-type: none;
            margin: 0;
        }

        ul>li {
            padding: 1em;
            margin: 0.4em;
            list-style-type: none;
            display: flex;
            transform: scale(1);
            transition: 0.2s transform 0s linear;
            border-radius: 5px;
        }

        header ul>li:hover {
            transform: scale(1.02);
            background-color: #8b107a;
            box-shadow: 1px 1px 2px #AAA;
        }
        form li li:hover{
            background-color:#C289F3;
        }
        ol>li {
            background: #F8EFFB;
            padding:  1vw;
            margin:  1vw;
            flex: 1 1 60vw;
            border-radius: 10px;
        }
        ol>li>img{
          width: 20%;
        }
        ol>li>ul>li{
          background: #E2A9F3 ;
        }
        ul {
            padding: 0;
        }

        label {
            flex-grow:1;
        }

        ul>li>* {
            cursor:pointer;
        }

        h2 {
            font-size:200%;
            color:#8b107a;
        }
h3 {
            font-size:150%;
            color:#AE63A9;
        }
article{
    border-radius: 10px;
    padding:0.5em;
    margin:0.5em;
}
        .reponse{
            background-color: #C289F3;
            display: none;

        }

        .reponse p {
            text-align: justify;
        }

        .reponse>* {
            margin: 0;
        }
        header ul{
          display:flex;
          flex-wrap: wrap;
        }
        header li{
          flex: 1;
          background-color: #8b107a;
        }
        code{
            font-weight: bold;
            font-size:130%;
}

        #menu-demo2, #menu-demo2 ul{
        padding:0;
        margin:0;
        list-style:none;
        text-align:center;
        }
        #menu-demo2 li{
        display:inline-block;
        position:relative;

        }
        #menu-demo2 ul li{
        border-radius:8px;
        }
        #menu-demo2 ul{
        position:absolute;
        z-index: 1000;
        max-height:0;
        left: 0;
        right: 0;
        overflow:hidden;
        }
        #menu-demo2 li:hover ul{
        max-height:15em;
        }

        /* les a href */
        #menu-demo2 a{
        text-decoration:none;
        display:block;
        padding:8px 8px;
        font-size:150%;
        color:white;
        }

        #menu-demo2 li:hover li a{
        color:#fff;
        text-transform:inherit;
        }
        #menu-demo2 li:hover a, #menu-demo2 li li:hover a{
        color:#000;
        }

table {
	border-collapse: collapse;
	width: 30em;
}

td, th {
	border: solid;
	border-width: 2.5px;
	border-color: #8b107a;
}
