
        body {
            margin: 0;
            font-family: Sans-Serif, Arial;
            background-color: #CEECF5;
        }
        .titre{
          display:flex;
        }
        .titre img{
            flex:1;
        }
        .titre h1{
            flex: 1 0 50%;
            color: #8b107a;
            font-size: 400%;
            margin: 0;
            padding: 0.5em;
            text-align: center;
        }
        .note{
          font-size: 200%;
          text-align: center;
          padding-bottom: 0.5em;
        }
        header {
          background-color: #0174DF;
            position: sticky;
            top: 0;
            box-shadow: 0px 2px 2px #000000;
            z-index: 1;
        }
        h5{
          font-size: 110%;
          font-weight: normal;
        }
        header p {
        }

        ol {
            padding: 0;
            display:flex;
            flex-wrap:wrap;
            list-style-type: none;
            margin: 0;
        }

        ul>li {
            padding: 1em;
            margin: 0.4em;
            list-style-type: none;
            display: flex;
            transform: scale(1);
            transition: 0.2s transform 0s linear;
            border-radius: 5px;
        }

        ul>li:not(.reponse):hover {
            transform: scale(1.02);
            box-shadow: 1px 1px 2px #AAA;
        }

        ol>li {
            background: #81DAF5;
            padding:  1vw;
            margin:  1vw;
            flex: 1 1 60vw;
            border-radius: 10px;
        }
        ol>li>img{
          width: 20%;
        }
        ol>li>ul>li{
          background: #01A9DB ;
        }
        ul {
            padding: 0;
        }

        label {
            flex-grow:1;
        }

        ul>li>* {
            cursor:pointer;
        }

        h2 {
            color:#0174DF;
        }

        .reponse {

            background-color: #045FB4;
            display: none;
            color: #000000;
        }

        .reponse p {
            text-align: justify;
        }

        .reponse>* {
            margin: 0;
        }
        header ul{
          display:flex;
          flex-wrap: wrap;
        }
        header li{
          flex: 1;
          background-color: #81BEF7;
        }
        header a{
          color:#5354eb;
        }
        code{color:green;}
    